<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.express.mapper.ExpressTrackMapper">
    
    <resultMap type="ExpressTrack" id="ExpressTrackResult">
        <result property="trackId"    column="track_id"    />
        <result property="waybillNo"    column="waybill_no"    />
        <result property="trackStatus"    column="track_status"    />
        <result property="trackDesc"    column="track_desc"    />
        <result property="trackLocation"    column="track_location"    />
        <result property="trackTime"    column="track_time"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectExpressTrackVo">
        select track_id, waybill_no, track_status, track_desc, track_location, track_time, sort, create_by, create_time, del_flag from express_track
    </sql>

    <select id="selectExpressTrackList" parameterType="ExpressTrack" resultMap="ExpressTrackResult">
        <include refid="selectExpressTrackVo"/>
        <where>  
            <if test="waybillNo != null  and waybillNo != ''"> and waybill_no like concat('%', #{waybillNo}, '%')</if>
            <if test="trackStatus != null  and trackStatus != ''"> and track_status = #{trackStatus}</if>
        </where>
    </select>
    
    <select id="selectExpressTrackByTrackId" parameterType="Long" resultMap="ExpressTrackResult">
        <include refid="selectExpressTrackVo"/>
        where track_id = #{trackId}
    </select>

    <insert id="insertExpressTrack" parameterType="ExpressTrack" useGeneratedKeys="true" keyProperty="trackId">
        insert into express_track
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="waybillNo != null and waybillNo != ''">waybill_no,</if>
            <if test="trackStatus != null and trackStatus != ''">track_status,</if>
            <if test="trackDesc != null and trackDesc != ''">track_desc,</if>
            <if test="trackLocation != null and trackLocation != ''">track_location,</if>
            <if test="trackTime != null">track_time,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="waybillNo != null and waybillNo != ''">#{waybillNo},</if>
            <if test="trackStatus != null and trackStatus != ''">#{trackStatus},</if>
            <if test="trackDesc != null and trackDesc != ''">#{trackDesc},</if>
            <if test="trackLocation != null and trackLocation != ''">#{trackLocation},</if>
            <if test="trackTime != null">#{trackTime},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateExpressTrack" parameterType="ExpressTrack">
        update express_track
        <trim prefix="SET" suffixOverrides=",">
            <if test="waybillNo != null and waybillNo != ''">waybill_no = #{waybillNo},</if>
            <if test="trackStatus != null and trackStatus != ''">track_status = #{trackStatus},</if>
            <if test="trackDesc != null and trackDesc != ''">track_desc = #{trackDesc},</if>
            <if test="trackLocation != null and trackLocation != ''">track_location = #{trackLocation},</if>
            <if test="trackTime != null">track_time = #{trackTime},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where track_id = #{trackId}
    </update>

    <delete id="deleteExpressTrackByTrackId" parameterType="Long">
        delete from express_track where track_id = #{trackId}
    </delete>

    <delete id="deleteExpressTrackByTrackIds" parameterType="String">
        delete from express_track where track_id in 
        <foreach item="trackId" collection="array" open="(" separator="," close=")">
            #{trackId}
        </foreach>
    </delete>
</mapper>