<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.express.mapper.ExpressOrderMapper">
    
    <resultMap type="ExpressOrder" id="ExpressOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="customerId"    column="customer_id"    />
        <result property="senderName"    column="sender_name"    />
        <result property="senderPhone"    column="sender_phone"    />
        <result property="senderVirtualPhone"    column="sender_virtual_phone"    />
        <result property="senderAddress"    column="sender_address"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="receiverPhone"    column="receiver_phone"    />
        <result property="receiverVirtualPhone"    column="receiver_virtual_phone"    />
        <result property="receiverAddress"    column="receiver_address"    />
        <result property="expressType"    column="express_type"    />
        <result property="weight"    column="weight"    />
        <result property="freight"    column="freight"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="vehicleId"    column="vehicle_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="waybillTemplateId"    column="waybill_template_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectExpressOrderVo">
        select id, order_no, customer_id, sender_name, sender_phone, sender_virtual_phone, sender_address, receiver_name, receiver_phone, receiver_virtual_phone, receiver_address, express_type, weight, freight, pay_status, pay_time, order_status, warehouse_id, vehicle_id, driver_id, waybill_template_id, remark, create_by, create_time, update_by, update_time, del_flag from express_order
    </sql>

    <select id="selectExpressOrderList" parameterType="ExpressOrder" resultMap="ExpressOrderResult">
        <include refid="selectExpressOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="senderName != null  and senderName != ''"> and sender_name like concat('%', #{senderName}, '%')</if>
            <if test="senderPhone != null  and senderPhone != ''"> and sender_phone = #{senderPhone}</if>
            <if test="senderVirtualPhone != null  and senderVirtualPhone != ''"> and sender_virtual_phone = #{senderVirtualPhone}</if>
            <if test="senderAddress != null  and senderAddress != ''"> and sender_address = #{senderAddress}</if>
            <if test="receiverName != null  and receiverName != ''"> and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="receiverPhone != null  and receiverPhone != ''"> and receiver_phone = #{receiverPhone}</if>
            <if test="receiverVirtualPhone != null  and receiverVirtualPhone != ''"> and receiver_virtual_phone = #{receiverVirtualPhone}</if>
            <if test="receiverAddress != null  and receiverAddress != ''"> and receiver_address = #{receiverAddress}</if>
            <if test="expressType != null  and expressType != ''"> and express_type = #{expressType}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="freight != null "> and freight = #{freight}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="vehicleId != null "> and vehicle_id = #{vehicleId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="waybillTemplateId != null "> and waybill_template_id = #{waybillTemplateId}</if>
        </where>
    </select>
    
    <select id="selectExpressOrderById" parameterType="Long" resultMap="ExpressOrderResult">
        <include refid="selectExpressOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertExpressOrder" parameterType="ExpressOrder" useGeneratedKeys="true" keyProperty="id">
        insert into express_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="senderName != null and senderName != ''">sender_name,</if>
            <if test="senderPhone != null and senderPhone != ''">sender_phone,</if>
            <if test="senderVirtualPhone != null">sender_virtual_phone,</if>
            <if test="senderAddress != null and senderAddress != ''">sender_address,</if>
            <if test="receiverName != null and receiverName != ''">receiver_name,</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone,</if>
            <if test="receiverVirtualPhone != null">receiver_virtual_phone,</if>
            <if test="receiverAddress != null and receiverAddress != ''">receiver_address,</if>
            <if test="expressType != null and expressType != ''">express_type,</if>
            <if test="weight != null">weight,</if>
            <if test="freight != null">freight,</if>
            <if test="payStatus != null and payStatus != ''">pay_status,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="vehicleId != null">vehicle_id,</if>
            <if test="driverId != null">driver_id,</if>
            <if test="waybillTemplateId != null">waybill_template_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="senderName != null and senderName != ''">#{senderName},</if>
            <if test="senderPhone != null and senderPhone != ''">#{senderPhone},</if>
            <if test="senderVirtualPhone != null">#{senderVirtualPhone},</if>
            <if test="senderAddress != null and senderAddress != ''">#{senderAddress},</if>
            <if test="receiverName != null and receiverName != ''">#{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">#{receiverPhone},</if>
            <if test="receiverVirtualPhone != null">#{receiverVirtualPhone},</if>
            <if test="receiverAddress != null and receiverAddress != ''">#{receiverAddress},</if>
            <if test="expressType != null and expressType != ''">#{expressType},</if>
            <if test="weight != null">#{weight},</if>
            <if test="freight != null">#{freight},</if>
            <if test="payStatus != null and payStatus != ''">#{payStatus},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="vehicleId != null">#{vehicleId},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="waybillTemplateId != null">#{waybillTemplateId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateExpressOrder" parameterType="ExpressOrder">
        update express_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="senderName != null and senderName != ''">sender_name = #{senderName},</if>
            <if test="senderPhone != null and senderPhone != ''">sender_phone = #{senderPhone},</if>
            <if test="senderVirtualPhone != null">sender_virtual_phone = #{senderVirtualPhone},</if>
            <if test="senderAddress != null and senderAddress != ''">sender_address = #{senderAddress},</if>
            <if test="receiverName != null and receiverName != ''">receiver_name = #{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone = #{receiverPhone},</if>
            <if test="receiverVirtualPhone != null">receiver_virtual_phone = #{receiverVirtualPhone},</if>
            <if test="receiverAddress != null and receiverAddress != ''">receiver_address = #{receiverAddress},</if>
            <if test="expressType != null and expressType != ''">express_type = #{expressType},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="freight != null">freight = #{freight},</if>
            <if test="payStatus != null and payStatus != ''">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="vehicleId != null">vehicle_id = #{vehicleId},</if>
            <if test="driverId != null">driver_id = #{driverId},</if>
            <if test="waybillTemplateId != null">waybill_template_id = #{waybillTemplateId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExpressOrderById" parameterType="Long">
        delete from express_order where id = #{id}
    </delete>

    <delete id="deleteExpressOrderByIds" parameterType="String">
        delete from express_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>